<% layout('layouts/boilerplate')%>
<%- include('../partials/navbar')%>

<div class="container-md" style="width: 100vh;">
    <!-- <%console.log(blog)%> -->
    <div class="mb-3">
        <h1> <%= blog.dataValues.title %></h1>
    </div>
    <div class="container-md">
        <p><%= blog.dataValues.content %></p>
    </div>
    <% if(blog.dataValues.user_id==userId){ %>
    <div class="mb-3">
        <a href="/user/<%=userId%>/blogs/<%= blog.id %>/update" class="card-link btn btn-primary">Edit blog</a>
    </div>
    <div class="mb-3">
        <form class="d-inline" action="/user/<%=userId%>/blogs/<%=blog.id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    <% } %>
</div>

<div class="container-md">
    <h3>Comments</h3>
    <div class="container-md">
        <% for (let i in blog.comments){ %>
            <p><%= blog.comments[i].body %></p>
            <% if (blog.comments[i].user_id == userId){ %>
                <div class="mb-3">
                    <a href="/user/<%=userId%>/blogs/<%= blog.id %>/comment/<%=blog.comments[i].id%>/update" class="card-link btn btn-primary">Edit comment</a>
                </div>
                <div class="mb-3">
                    <form class="d-inline" action="/user/<%=userId%>/blogs/<%=blog.id%>/comment/<%= blog.comments[i].id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="container-md "  style="width: 80vh;">
    <h3>Leave a comment</h3>
    <div class="container-md">
        <form action="/user/<%=userId%>/blogs/<%=blog.id%>/comment" method="post" class="validated-form" novalidate>
            <div class="mb-3">
                <input type="text" class="form-control" id="comment" name="comment" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success btn-block">Submit</button>
        </form>
    </div>
</div>

