<% layout('layouts/boilerplate')%>
<%- include('../partials/navbar')%>

<div class="container-md" style="width: 100vh;">
    <!-- <%console.log(blog)%> -->
    <div class="mb-3">
        <h1> <%= blog.dataValues.title %></h1>
    </div>
    <div class="container-md">
        <p><%= blog.dataValues.content %></p>
    </div>
    <% if(blog.dataValues.user_id==userId){ %>
    <div class="mb-3">
        <a href="/user/<%=userId%>/blogs/<%= blog.id %>/update" class="card-link btn btn-primary">Edit blog</a>
    </div>
    <div class="mb-3">
        <form class="d-inline" action="/user/<%=userId%>/blogs/<%=blog.id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    <% } %>
</div>

