<% layout('layouts/boilerplate')%>
<%- include('../partials/navbar')%>

<div class="container-md show">
  <div class="addMargin">
    <h1>Edit your comment</h1>
  </div>
  <form action="/user/<%=userId%>/blogs/<%=blog.id%>/comment/<%= comment.dataValues.id %>?_method=PUT" method="post" novalidate class="validated-form">
    <div class="mb-3">
        <!-- <label for="comment" class="form-label">Blog Title:</label> -->
        <input type="text" class="form-control" id="comment" name="comment" value="<%= comment.dataValues.body %>" required>
        <div class="valid-feedback">
            Looks good!
        </div>
      </div>
      <div class="mb-3 centerButton">
        <button type="submit" class="btn btn-success">Update Comment</button>
      </div>
</form>
</div>

